.Menu{
    width: 0;
    border-left: 1px solid white;
    background-color: black;
    color: white;
    transition: 0.5s;
    position: absolute;
    right: 0;
}
.menu-inner{
    height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-left: 10px;
}
.menu-inner::-webkit-scrollbar {
    display: none;
}
.planets-title, .asteroid-title{
    user-select: none;
}
.Menu ul{
    list-style: none;
}
.Menu li{
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
}
.sun-title{
    cursor: pointer;
    user-select: none;
}
